client_secret.json
credentials.json
token.json
__pycache__
*.egg-info/
dist/
build/
.coverage
*.lcov
.vscode/
.pytype
.venv*/
.pytest_cache
examples/*/results
examples/**/deps.mk
.rxllmproc_cache.json
tstout*.*
*.db
*.sqlite