# VENV trouble with pyasn1: https://github.com/pypa/pip/issues/10851

reactivex
parameterized
#dataclasses-jsonschema
jsonpickle
markdownify
google-genai
argparse-dataclass
requests-mock
SQLAlchemy
mcp

google_auth_oauthlib
google-api-python-client
python-dateutil
google-api-python-client-stubs
dacite
reactivex
#jsonpickle
markdownify
jinja2
linkify-it-py
markdown-it-py

# Dev only
coverage>=5.0.3
pytest
pycodestyle
pydocstyle
pytest-cov
parameterized
pyfakefs
types-mock
pytest-pythonpath
requests-mock
google-auth-stubs
types-beautifulsoup4
types-protobuf
pyright
flake8
black